<!DOCTYPE html>
<!-- Author: Alan Ding -->
<html lang="en">

<head>
  <title>TigerCrush - About</title>
  {% include 'head.html' %}
</head>

<body class="bg-light">
 {% include 'nav.html' %}
  <!--------------------------------------------------------------------------->
  <div class="text-center py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12" style="">
          <h1 class="text-primary"><b>About TigerCrush</b></h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>TigerCrush is a platform that enables Princeton undergraduates to see which of their fellow students that they have a crush on are crushing back on them. If TigerCrush identifies such a match, that is, a student you're crushing on is crushing back on you, both of you will be notified via email of the match, and it's up to you to take things from there!<br><br>TigerCrush was developed by Alan Ding '22, Oleg Golev '22, and Gerald Huang '22. The development team would like to acknowledge that this application was inspired by GoodCrush, a now-defunct platform created by Princeton alum Josh Weinstein '09 that once served a similar purpose. We would also like to acknowledge the original poster of the Tiger Confession (#15437) that dug up this decade-old relic from the depths of the Internet.</p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>