<!DOCTYPE html>
<!-- Author: Alan Ding -->
<html lang="en">

<head>
  <title>TigerCrush - FAQ</title>
  {% include 'head.html' %}
</head>

<body class="bg-light">
 {% include 'nav.html' %}
  <!--------------------------------------------------------------------------->
  <div class="text-center py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12" style="">
          <h1 class="text-primary"><b>Whitelist Us!</b></h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>The first time you login to TigerCrush, you will get a welcome email. Most likely, Proofpoint will block this email and instead send an End User Digest email.<br>Open that email up. Inside the email, you should see something that looks like this:</p>
          <img src="../static/proofpoint.PNG" alt="Important part of the Proofpoint email" style="width: 100%" class="pb-3">
          <p>Make sure that in the "From" column, the email address provided is exactly <b>tigermatchmaker@gmail.com</b>! To allow the welcome email <b>and subsequent emails notifying you of matches</b> into your inbox, click <b>"Release and Allow Sender"</b>. That's all!</p>
          <p>We promise to not send you anything else.</p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>